<html>
<head>
  <title>Wiki Discussion</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="convo.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
  <style>
  img {
    max-width: 800px;
    max-height: 800px;
  }
  media {
    border: 1px solid black;
  }
  </style>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Wiki Discussion <small>Sample Discussion</small></h1>
    </div>
    <div class="row">
      <% for(var i=0; i < topics.length; i++) {%>

        <div class="media">
          <div class="media-body panel panel-info">
            <h4 class="media-heading panel-heading"><%= topics[i].topictitle %></h4>
                  <% for(var j=0; j< topics[i].responses.length; j++) { %>
                        <div class="media col-md-offset-<%=topics[i].responses[j].depth%> panel-body">
                          <media-body>
                            <%- topics[i].responses[j].posttext %>
                            <small>Posted by <%- topics[i].responses[j].author %> on <%- Date(Date.now() * 1000 - topics[i].responses[j].age).toString("MMM dd")  %></small><button type="button" class="btn btn-info">Reply</button>
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Reply to <%- topics[i].responses[j].author %>" aria-describedby="basic-addon2">
                            </div>
                          </media-body>
                        </div>
                  <% } %>
          </div>
        </div>

      <% } %>




      </div>
    </div>

  </body>
  </html>
<script>
  var nowSeconds = new Date().getTime() / 1000;
  var postSeconds = topics[i].responses[j].age;
  var since = (nowSeconds - postSeconds) * 1000;

</script>
